@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Manrope', sans-serif;
  @apply text-gray-700 bg-slate-200
}
.menucate{
  background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}
.active{
 @apply text-white bg-[#FD940A] duration-300 transition border-[#FD940A] border  font-bold py-2 rounded-lg
}